@font-face {
    font-family: 'Brown Sugar';
    src: url('Brown-Sugar-.eot');
    src: url('Brown-Sugar-.eot?#iefix') format('embedded-opentype'),
         url('Brown-Sugar-.woff2') format('woff2'),
         url('Brown-Sugar-.woff') format('woff'),
         url('Brown-Sugar-.ttf')  format('truetype'),
         url('Brown-Sugar-.svg#Brown Sugar') format('svg');
    font-weight: normal;
    font-style: normal;
}